/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* GLOBAL  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: #777;
    padding: 2rem;
}


/* HEADER  */
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        #23a3c994,
        #12201ce8),
        url(../img/uhp-annecy.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    width: 3.5rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;

    backface-visibility: hidden;
    margin-bottom: 3.5rem;
}

.heading-primary-main {
    font-size: 4rem;
    letter-spacing: 35px;

    animation: moveFromLeft 2s ease-in-out;
}

.heading-primary-sub {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 15px;

    animation: moveFromRight 2s ease-in-out;
}

@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2.5rem;
    display: inline-block;
    border-radius: 100px;
    transition: all .3s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
}

.btn-white {
    color: #777;
    background-color: #fff;
}

.btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -111;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;

}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveFromBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}